@()

@main("sample scala room") {
<div class="jumbotron">
  <h1>Sample scala room is running!</h1>
  <p>This is a template for a starter scala/play based room in game-on. Use it as a starting point to create something more unique by building on or modifying it.</p>
</div>
<div class="page-header">
  <h4>Preformed Messages, try them, edit them, or just write your own</h2>
</div>
<div class="form-group">
  <label for="wsdest">websocket uri:</label>
  <input type="text" class="form-control" id="wsdest">
</div>
<p>
  <div class="row">
    <div class="col-sm-2 well"><button type="button" onclick="roomHello()" class="btn btn-primary btn-block">Hello</button></div>
    <div class="col-sm-2 well"><button type="button" onclick="argh()" class="btn btn-primary btn-block">Do Undefined</button></div>
    <div class="col-sm-2 well"><button type="button" onclick="roomGoodbye()" class="btn btn-primary btn-block">Goodbye</button></div>
    <div class="col-sm-2 well"><button type="button" onclick="chat()" class="btn btn-primary btn-block">Chat</button></div>
    <div class="col-sm-2 well"> <button type="button" onclick="play()" class="btn btn-primary btn-block">Play</button></div>
    <div class="col-sm-2 well"><button type="button" onclick="gowest()" class="btn btn-primary btn-block">Go west</button></div>
  </div>
</p>

<div class="row">
  <div class="col-sm-6 well">
    <p>
      <button type="button" onclick="send()" class="btn btn-info">Send to Room!</button>
      <button type="button" onclick="connect()" class="btn btn-info">Connect to room!</button>
    </p>
    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Test message for the Room</h3>
      </div>
      <div> <textarea id="input" class="form-control" id="text" name="text" placeholder="Type in your message" rows="5"></textarea></div>
    </div>
  </div>
  <div class="col-sm-6 well">
    <p><button type="button" onclick="clearScreen()" class="btn btn-success">Clear Output</button></p>
    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Room's Response</h3>
      </div>
      <div id="output"></div>
    </div>
  </div>
</div>
}

